doctype html
html
  head
    title New Application
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.min.css')
    script(src='js/app.min.js')

  body
    h1 New Application
    #container
      p Welcome to my new application.